<div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content white-text">
           <div class="row">
              <div class="col s5">
                <form #eventForm="ngForm"  (ngSubmit)="onSubmit(eventForm)">
                    <input type="hidden" name="_id"  [(ngModel)]="event._id">
                   
                    <div class="row">
                      <div class="input-field col s12">
                          <label>Title</label>
                          <input type="text" name="title"  [(ngModel)]="event.title"   required>
                         
                      </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                        <label>Description</label>
                        <input type="text" name="description" [(ngModel)]="event.description" required>
                       
                    </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                      <label>Date</label>
                      <input type="date" name="date" [(ngModel)]="event.date" required>
                     
                  </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                    <label>Address</label>
                    <input type="text" name="address" [(ngModel)]="event.address" required>
                   
                </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                  <label>Image</label>
                  <input type="text" name="image"  [(ngModel)]="event.image" required>
                 
              </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
                <button class="btn btn-custom right" type="reset" (click)="resetForm(eventForm)">Reset</button>
                <button class="btn btn-custom right" type="Submit" [disabled]="!eventForm.valid">Submit</button>

               
            </div>
        </div>

                </form>
              </div>
              <div class="col s7">
                    <table class="responsive-table highlight" *ngFor="let ev of eventService.events">
                       <thead>
                         <th>Titre</th>
                         <th>Description</th>
                         <th>Date</th>
                         <th>Address</th>
                         <th>Operations</th>
                       </thead>
                       <tr >
                         <td>{{ev.title}}</td>
                        <td>{{ev.description}}</td>
                        <td>{{ev.date}}</td>
                        <td>{{ev.address}}</td>
                        <td>
                           <a class="action-btn" (click)="onEdit(ev)">
                              <i class="material-icons">edit</i>
                        </a> 
                        <a class="action-btn" (click)="onDelete(ev._id,eventForm)">
                          <i class="material-icons">delete</i>
                    </a> 
                        </td>
                       </tr>

                    </table>
              </div>
           </div>
        </div>
      </div>
    </div>
  </div>